<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
    <title>Demo Axios</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="restaurant in resto">
                <table>
                    <tr>
                        <td width="300px">
                            <div  style="background-color: aquamarine;">
                            <h1>({{restaurant.name}})</h1>
                            </div>
                        </td>
                        <td width='90%'>
                            <div height="100%" style="background-color:bisque">
                            <h2 v-if="restaurant.nbCouverts !='false'">{{restaurant.city}}&nbsp;&nbsp;
                                 {{restaurant.nbCouverts}} couverts 
                                <img v-if="restaurant.parking ==='oui'" width="50px" height="50px" src="public/parking.jpg">
                                <img v-if="restaurant.parking ==='non'" width="50px" height="50px" src="public/noparking.webp">
                                <img v-if="restaurant.terrasse ==='oui'" width="75px" height="50px" src="public/terrasse.png">
                                <img v-if="restaurant.terrasse ==='non'" width="50px" height="50px" src="public/noterrasse.jpg">
                            </h2>
                            </div>                       
                            </td>
                        <td width="10%">
                            <button v-on:click="delRestaurant($event,restaurant.id_restaurant)">X</button>
                        </td>
                    </tr>
                    <tr>       
                    <td width="300px">    
                        <div  style="background-color:azure">
                        <h1>EQUIPE</h1>
                    </div>
                </td>
                    <td width="90%">
                        <div width="100%" style="background-color: antiquewhite;" v-for="employe in team">
                            <p v-if="restaurant.id_restaurant===employe.restaurant_id">{{employe.first_name}} {{employe.last_name}}<button v-on:click="delPersonnel($event,restaurant.restaurant_id,employe.employe_id)">X</button>
                        </p>
                    </div>
                    </td>      
                    </tr>
                </table>  
            </li>
        </ul>
        <button v-on:click="update()">Mettre à jour</button>        
    </div>
    <script>
        let  app = new Vue({
            el: "#app",
            data: {
                resto: [{"name":"Resto1", "id_restaurant":"1","nbCouverts":"false"}, {"name": "Resto 2","id_restaurant":"2","nbCouverts":"false"},{"name":"Resto 3","id_restaurant":"3","nbCouverts":"false"}],
                team: [{"first_name":"ici le prénom"}, {"last_name":"ici le nom"}],
            },
            methods:{
                update() {
                    axios.get("http://127.0.0.1:5000/restaurants")
                    .then(res=>this.resto=res.data)
                    .catch(error =>this.resto =[{"name":"Erreur de chargement"}])
                    console.log(this.resto)   
                
                    
                    axios.get("http://127.0.0.1:5000/employes")
                     .then(res=>this.team=res.data)
                     .catch(error =>this.team =[{"first_name":"Erreur de chargement"}])                         
                        console.log(this.team)
                    
                },
                addToCart: function (event,id) {
                //use event here as well as id
                    console.log('In addToCart')
                     console.log('id_restaurant',id)
                },
                delRestaurant(event,id){
                    console.log(id)
                     axios.delete("http://127.0.0.1:5000/restaurants/"+id)
                     .then(status)
                     .catch(error => this.posts=[{"name":"erreur de suppression"}])
                },
                delPersonnel(event,idResto,idEmpl){
                    console.log(idResto,idEmpl)
                    // axios.delete("http://127.0.0.1:5000/restaurant/"+idResto+"employe/"+idEmpl)
                    // .then(res.status)
                    // .catch(error => this.posts=[{"name":"reerur de suppression"}])
                },
            },
            
            
        });
    </script>
   
</body>
</html>